extends layout

block content
  form(action="/searchWord", method="post")
    input(type="text", value=keyWord, name="keywords", placeholder="Type in ...", required=true, focus=true)
    button(type="submit",class="search") Search
    div.keywords
      - for (var key in history)
        a.history(href=`/searchWord/${history[key]}`)= decodeURIComponent(history[key])
  div.result
    - for (var key in btData)
      section
        a(href=decodeURIComponent(btData[key].filmManget),target='_blank')= decodeURIComponent(btData[key].filmName)
        p
          b 创建时间：
          span.tag=decodeURIComponent(btData[key].createTime)

          b 文件大小：
          span.tag=decodeURIComponent(btData[key].fileSize)

          b 下载热度：
          span.tag=decodeURIComponent(btData[key].hot)

          b 最近下载：
          span.tag=decodeURIComponent(btData[key].nearlyDownload)


